.page-root {
    -fx-background-color: #f6f7fb;
    -fx-font-family: "Arial";
}

.page-header {
    -fx-padding: 24 28 10 28;
}

.page-title {
    -fx-font-size: 26px;
    -fx-font-weight: bold;
    -fx-text-fill: #302C29;
}

.page-subtitle {
    -fx-font-size: 14px;
    -fx-text-fill: #6b7280;
}

.content-area {
    -fx-padding: 10 28 28 28;
}

.modern-table {
    -fx-background-color: white;
    -fx-background-radius: 18;
    -fx-border-radius: 18;
    -fx-border-color: #e5e7eb;
}

.start-button {
    -fx-background-color: #650000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 8 14;
    -fx-cursor: hand;
}

.start-button:hover {
    -fx-background-color: #800000;
}

.disabled-button {
    -fx-background-color: #e5e7eb;
    -fx-text-fill: #6b7280;
    -fx-background-radius: 10;
    -fx-padding: 8 14;
}